<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plant.petplant.PetplantMapper">
	
	<!-- 게시판  전체 리스트 - 게시판내용 + 파일 + 좋아요수  -->
	<select id="list" resultType="com.plant.petplant.PetplantVO">
	SELECT * FROM petplant AS a
		INNER JOIN ( 
			SELECT file_boardno, group_concat(filename_real) AS filename_real
			FROM plant_file group by file_boardno
		) AS b
		ON (a.pet_no = b.file_boardno)
		LEFT JOIN (
			SELECT count(*) as countLike , pet_no
    		FROM ppLike group by pet_no
    	)AS c
    	ON (a.pet_no = c.pet_no)
   	ORDER BY a.pet_no DESC
	</select>
	
	<!-- 반려식물 게시판 등록 -->
	<insert id="insert" parameterType="com.plant.petplant.PetplantVO"  >
		INSERT INTO petplant ( user_no 
			, pet_content
			, pet_regdate
		) 
		VALUES ( 
			0
			, #{pet_content}
			, NOW()	
		)
		<selectKey keyProperty="pet_no" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()			
		</selectKey>
	</insert>
	
	<!-- 반려식물 게시판 파일 등록 -->
	<insert id="insertfile" parameterType="com.plant.petplant.PetplantVO" >
		INSERT INTO plant_file ( 
			user_no 
			,file_boardno
			,file_tablename
			,filename_org
			,filename_real
			,file_regdate 
		) VALUES (
			0
			, #{file_boardno}
			, #{file_tablename}
			, #{filename_org}
			, #{filename_real}
			, NOW()
		)
	</insert>
	
	
	
	<!-- 게시판 상세보기 - 파일 -->
	<select id="findpetplant" parameterType="int" resultType="com.plant.petplant.PetplantVO">
		SELECT * FROM plant_file WHERE file_boardno=#{no}
	</select>
	
	<!-- 게시판 상세보기 - 댓글이랑 대댓글 -->
	<select id="findpetreply" parameterType="int" resultType="com.plant.petplant.PetplantVO">
		SELECT * FROM ppReply AS a
			LEFT OUTER JOIN (
				SELECT count(*) as countLike , ppreply_no
	    		FROM ppLike group by ppreply_no
	    	) b
	    ON a.ppr_no	= b.ppreply_no
	    WHERE a.pet_no=#{pet_no}
		ORDER BY ppr_gno DESC , ppr_order ASC
	</select>
	
	<!-- 반려식물 게시판 상세보기 - 댓글 등록 -->
	<insert id="reply" parameterType="com.plant.petplant.PetplantVO">
		INSERT INTO ppReply (
			 pet_no
			, user_no 
			, ppr_content
			, ppr_regdate
			, ppr_gno
			, ppr_secretCheck
		)
		VALUES (
			#{pet_no}
			, #{user_no}
			, #{ppr_content}
			, NOW()
			, #{ppr_gno}
			, #{ppr_secretCheck}
		) 
		<selectKey keyProperty="ppr_no" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()			
		</selectKey>
	</insert>
	
	
	<!-- 반려식물 게시판 상세보기 - 대댓글 등록 -->	
	<insert id="rereply" parameterType="com.plant.petplant.PetplantVO">
	INSERT INTO ppReply (
			 pet_no
			, user_no 
			, ppr_content
			, ppr_regdate
			, ppr_gno
			, ppr_order
			, ppr_nested
			, ppr_secretCheck)
		VALUES (
			#{pet_no}
			, #{user_no}
			, #{ppr_content}
			, NOW()
			, #{ppr_gno}
			, #{ppr_order}
			, #{ppr_nested}
			, #{ppr_secretCheck}
		) 
	</insert>
	
	<!-- 반려식물 상세 - 댓글 그룹번호 업데이트 -->
	<update id="gnoUpdate" parameterType="int">
		UPDATE ppReply SET ppr_gno=#{ppr_gno} WHERE ppr_no=#{ppr_no}
	</update>
	
	<!-- 반려식물 상세 - 댓글 순서 업데이트 -->
	<update id="onoUpdate" parameterType="int">
		UPDATE ppReply SET ppr_order=ppr_order+1 WHERE ppr_gno=#{ppr_gno} AND ppr_order > #{ppr_order}
	</update>
	
	
	
	
	
	
	<!-- 반려식물 게시판 및 상세 게시판- 댓글 좋아요 체크 -->
	<select id="checkLike" parameterType="com.plant.petplant.PetplantVO" resultType="java.lang.Integer" >
		SELECT COUNT(*) FROM ppLike WHERE pet_no = #{pet_no} AND user_no = 0 
		<if test="ppreply_no != null">
			AND ppreply_no = #{ppreply_no} 
		</if>
	</select>
	
	<!-- 반려식물 상세 - 댓글 좋아요 카운트  -->
	<select id="countLikeReply"  resultType="com.plant.petplant.PetplantVO"> 
		SELECT count(*) AS countLike , ppreply_no FROM ppLike 
		group by ppreply_no
		order by ppreply_no DESC
	</select>
	
	
	<!-- 반려식물 상세 - 댓글 좋아요 플러스 -->
	<insert id="plusLike" parameterType="com.plant.petplant.PetplantVO">
		INSERT INTO ppLike (
			pet_no
			, user_no
			, ppreply_no
		)
		VALUES (
			#{pet_no}
			, 0
			, #{ppreply_no} 
		)
	</insert>
	
	<!-- 반려식물 상세 - 댓글 좋아요 마이너스 -->
	<delete id="minusLike" parameterType="com.plant.petplant.PetplantVO" >
		DELETE FROM ppLike WHERE pet_no = #{pet_no} AND user_no = 0
		<if test="ppreply_no != null ">
			AND ppreply_no = #{ppreply_no} 
		</if>
	</delete>
	
</mapper>