<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plant.plantbook.PlantBookMapper">
	
	<select id="searchWord" parameterType="com.plant.plantbook.PlantBookVO"  resultType="com.plant.plantbook.PlantBookVO">
		SELECT a.*,
			(SELECT count(*) FROM petplantput WHERE a.plantbook_no = plantbook_no and user_no = #{user_no}) as count 
		FROM plantbook AS a
		WHERE cntntsSj like '%${sword}%' or mainChartrInfo like '%${sword}%' or svcCodeNm like '%${sword}%'
		ORDER BY a.plantbook_no ASC
		LIMIT  ${startIdx},${pageRow}
	</select>
	
	<select id="count" parameterType="com.plant.plantbook.PlantBookVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM plantbook
		WHERE cntntsSj like '%${sword}%' or mainChartrInfo like '%${sword}%' or svcCodeNm like '%${sword}%'
	</select>
	
	<select id="checkbook" resultType="int">
		SELECT count(*) FROM petplantput WHERE plantbook_no = #{plantbook_no} AND user_no = #{user_no}
	</select>

	<select id="booksavelist" parameterType="com.plant.plantbook.PlantBookVO"  resultType="com.plant.plantbook.PlantBookVO">
		SELECT a.plantbook_no , b.* 
		FROM plant.petplantput a
		JOIN plant.plantbook b
		NO a.plantbook_no = b.plantbook_no
		WHERE user_no = #{user_no}
		ORDER BY petplantput_no DESC
		LIMIT  ${startIdx},${pageRow}
	</select>
	
	<insert id="insertbook" parameterType="com.plant.plantbook.PlantBookVO">
		INSERT INTO petplantput (
			plantbook_no
			, user_no
			, pet_no	
			, ppp_regdate		
		)
		VALUES (
			#{plantbook_no}
			, #{user_no}
			, #{pet_no}
			, NOW()
		)
	</insert>
	
	<delete id="deletebook" parameterType="com.plant.plantbook.PlantBookVO">
		DELETE FROM petplantput WHERE plantbook_no = #{plantbook_no} AND user_no = #{user_no}
	</delete>
	
</mapper>