<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plant.report.ReportMapper">

	<!-- 신고 저장 -->
	<insert id="insert" >
		INSERT INTO report (
			board_no
			, report_tablename
			, reply_no
			, user_no
			, report_check
			, report_etc
		) VALUES (
			#{board_no}
			, #{report_tablename}
			, #{reply_no}
			, #{user_no}
			, #{report_check}
			, #{report_etc}
		)
	</insert>
	
	<select id="reportList" parameterType="com.plant.report.ReportVO"  resultType="com.plant.report.ReportVO">
		SELECT a.*, 
			(select user_nick FROM user WHERE user_no=a.user_no) AS user_nick
		FROM report AS a
		ORDER BY report_no DESC 
	</select> 
	
	<!-- <select id="reportList" parameterType="com.plant.report.ReportVO"  resultType="com.plant.report.ReportVO">
		SELECT * 
		FROM ${report_tablename}
		WHERE ${report_tablename}_no = #{board_no} 
	</select> -->
	
	
</mapper>